[submodule "lib/pkl"]
	path = lib/pkl
	url = https://github.com/esden/pretty-kicad-libs.git
[submodule "firmware/libopencm3"]
	path = libopencm3
	url = https://github.com/libopencm3/libopencm3.git
[submodule "firmware/src/assets/miniwi"]
	path = src/assets/miniwi
	url = https://github.com/josuah/miniwi.git
